
// COLORS
$color-white: #fff;
$color-black: #000;
$color-black-light: #282b36;

$color-blue: #2e3d49;
$color-blue-light: #3498db;
$color-blue-dark: #101d2c;

$color-green: #1abc9c;
$color-yellow: #f1c40f;
$color-orange:#f7ce68;

// Quick Change
$color-default: $color-black;
$color-primary: $color-white;
$color-secondary: $color-blue-light;


// FONT
$default-font-size: 1.6rem;

// Spacing // Size
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;